@use "styles/_var.module.scss" as *;

.wrapper {
    display: flex;
    align-items: center;
}

.menu {
    transition: all 0.5s ease;

    &_enabled {
        transform: rotate(90deg);
    }

    &_disabled {
        transform: rotate(0);
    }
}
